.navbar {
  position: sticky;
  top: 0;
  z-index: 20;

}
.hotel{
  display: none;
}
.navContainer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 5%;
  position: relative;

}

.logo img {
  height: 40px;
}
.navItems ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: -80px;
  font-weight: 500;
  margin-top: 10px;
}
.navItems ul li {
  list-style: none;
}
.navItems ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navButtonSign {
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border: 1px solid #55bfea;
  border-radius: 3px;
  color: #55bfea;
  font-size: 14px;
  cursor: pointer;
}
.navButtonSign:hover{
  border: 1px solid #039dda;
}
.navButtonPat {
  padding: 0.5rem 1.5rem;
  background-color: #55bfea;
  color: #fff;
  border: 1px solid #55bfea;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.navButtonPat:hover{
  background-color: #039dda;
}

.navItems ul li a:hover,
.navItems ul li a.active {
  color: #55bfea;
}
.icons {
  width: 30px;
  cursor: pointer;
  font-size: 30px;
  display: none;
}


@media screen and (max-width: 760px) {
  .navbar {
    position: relative;
    top: 0;
    z-index: 20;
  
  }
  .icons {
    display: inline;
    margin-top: 5px;
  }
  .navItems ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: -105%;
    padding: 80px 100px 80px 100px;
  }
  .cross{
    font-size: 14px;
    color: #039dda;
    position: absolute;
    top: 80px;
    right: 320px;
    z-index: 10;
  }
  .handbuger{
    font-size: 24px;
  }
  .navItems ul li a {
    color: #494949;
    font-size: 14px;
    border-bottom: 1px solid #23222233;
    padding-bottom: 10px;
    width: 250px;
  }
  .navItems ul li a:hover,
  .navItems ul li a.active {
    color: #b1dff1;
  }
  .navItems.active ul {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .navButtonSign {
    background-color: #fff;
    border: 1px solid #55bfea;
    border-radius: 3px;
    color: #55bfea;
    font-size: 14px;
    cursor: pointer;
    width: 166px;
    height: 40px;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    /* margin-top: -20px; */
  }
  .navButtonSign:hover{
    border: 1px solid #039dda;
  }
  .navButtonPat{
    background-color: #55bfea;
    color: #fff;
    border: 1px solid #55bfea;
    font-size: 14px;
    cursor: pointer;
    width: 166px;
    height: 40px;
    padding: 10px 50px 10px 30px;
    border-radius: 5px;
  }
  .navButtonPat:hover{
    background-color: #039dda;
  }
  
  /* .navButtonSign {
    position: absolute;
    top: 22px;
  }
  .navButtonPat {
    position: absolute;
    bottom: -510px;
    left: -105%;
    background-color: #fff;
    color: #55bfea;
    font-size: 20px;
    width: 100%;
    padding: 12px 0;
  }
  .navButtonPat.active {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  } */
  .space{
    margin: -20px;
  }
  .options{
    position: absolute;
    top: 5px;
    left: 200px;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.27px;
  }
  .manageBooking{
    position: absolute;
    top: 135px;
    left: 100px;
    /* padding-bottom: 50px; */
  }
}
/* @media screen and (max-width: 960px) {
  .icons {
    display: inline;
    margin-top: 5px;
  }
  .navItems ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #55bfea;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -105%;
    padding: 30px 0px 80px 0px;
  }
  .navItems ul li a {
    color: #fff;
    font-size: 20px;
  }
  .navItems ul li a:hover,
  .navItems ul li a.active {
    color: #b1dff1;
  }
  .navItems.active ul {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .navButtonSign {
    position: absolute;
    top: 22px;
    right: 120px;
  }
  .navButtonPat {
    position: absolute;
    bottom: -510px;
    left: -105%;
    background-color: #fff;
    color: #55bfea;
    font-size: 20px;
    width: 100%;
    padding: 12px 0;
  }
  .navButtonPat.active {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .space{
    margin: -20px;
  }
} */
