.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
}
.hotel{
  display: none;
}
.navContainer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 5%;
  position: relative;
}
.logo img {
  height: 40px;
}
.navItems ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: -80px;
  font-weight: 500;
  margin-top: 10px;
}
.navItems ul li {
  list-style: none;
}
.navItems ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navButtonSign {
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border: 1px solid #55bfea;
  border-radius: 3px;
  color: #55bfea;
  font-size: 14px;
  cursor: pointer;
}
.navButtonSign:hover{
  border: 1px solid #039dda;
}
.navButtonPat {
  padding: 0.5rem 1.5rem;
  background-color: #55bfea;
  color: #fff;
  border: 1px solid #55bfea;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.navButtonPat:hover{
  background-color: #039dda;
}

.navItems ul li a:hover,
.navItems ul li a.active {
  color: #55bfea;
}
.icons {
  width: 30px;
  cursor: pointer;
  font-size: 30px;
  display: none;
}


@media screen and (max-width: 760px) {
  .icons {
    display: inline;
    margin-top: 5px;
  }
  .navItems ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #55bfea;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -105%;
    padding: 30px 0px 80px 0px;
  }
  .navItems ul li a {
    color: #fff;
    font-size: 20px;
  }
  .navItems ul li a:hover,
  .navItems ul li a.active {
    color: #b1dff1;
  }
  .navItems.active ul {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .navButtonSign {
    position: absolute;
    top: 22px;
  }
  .navButtonPat {
    position: absolute;
    bottom: -510px;
    left: -105%;
    background-color: #fff;
    color: #55bfea;
    font-size: 20px;
    width: 100%;
    padding: 12px 0;
  }
  .navButtonPat.active {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .space{
    margin: -20px;
  }
}
@media screen and (max-width: 960px) {
  .icons {
    display: inline;
    margin-top: 5px;
  }
  .navItems ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #55bfea;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -105%;
    padding: 30px 0px 80px 0px;
  }
  .navItems ul li a {
    color: #fff;
    font-size: 20px;
  }
  .navItems ul li a:hover,
  .navItems ul li a.active {
    color: #b1dff1;
  }
  .navItems.active ul {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .navButtonSign {
    position: absolute;
    top: 22px;
    right: 120px;
  }
  .navButtonPat {
    position: absolute;
    bottom: -510px;
    left: -105%;
    background-color: #fff;
    color: #55bfea;
    font-size: 20px;
    width: 100%;
    padding: 12px 0;
  }
  .navButtonPat.active {
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .space{
    margin: -20px;
  }
}
