.hotel_page {
    display: flex;
    gap: 0.9375rem;
    color: var(--Secondary-states-Black, #494949);
    font-weight: 500;
    margin-block: 1.875em 2.0625em;
}

.hotel_page1,
.hotel_page2,
.hotel_page3,
.hotel_page4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hotel_page span {
    width: 2rem;
    height: 2rem;
    background-color: rgba(35, 34, 34, 0.35);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    line-height: 195%;
}

.hotel_page hr {
    border: 1px solid #494949;
    width: 2.1875rem;
}