.flight_container{
    background: #fff url(../../assets/Images/FlightHero.svg) no-repeat;
    background-size: cover;
    padding: 5rem 5rem;
}
.flight_head h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    color: #FFFFFF;
}
.flight_head h4{
    font-size: 28px;
    font-weight: 400;
    line-height: 39.2px;
    text-align: center;
    color: #FFFFFF;
}
.flight_link{
    display: flex;
    gap: 40px;
    color: #fff;
    margin: 50px 0px 10px 100px;
}
.flight_link .active{
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #55BFEA80;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under_text{
    font-size: 12px;
    margin-top: -15px;
    color: #7c7c7c;
    font-weight: 400;
}
.heroform_container{
    background-color: #55BFEA80;
    max-width: 988px;
    height: 200px;
    border-radius: 18px 18px 0px 0px;
    padding: 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.going{
    width: 312px;
    border-radius: 5px 5px 0px 0px;
}
.lynkup{
    width: 246px;
    height: 133px;
    padding: 38px 80px 38px 80px;
    border-radius: 5px;
    background-color: #55BFEA;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lynkup h4{
    font-size: 19px;
    font-weight: 700;
    line-height: 26.6px;
    text-align: center;
    color: #fff;
}
.flighthotel{
    display: none;
}
.dropDown{
    /* width: 9rem; */
    background-color: #0588BD;
    color: #ffff;
    /* padding: 2px; */
}
/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
  }
select:focus{
    border: none;
    outline: none;
  } */

@media screen and (max-width: 760px) {
    .flight_container{
        background: #fff url(../../assets/Images/FlightHero.svg) no-repeat;
        padding: 14rem 5rem;
        background-size: cover;
        
    }
    .flighthotel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 80px;
        /* padding: 50px; */
        /* border: 1px solid; */
    }
    .flight_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .formDisplay{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -40px;
        left: 330px;
        margin-bottom: 120px;
        /* width: 428px; */
    }
    .flight_head h1{
        display: none;
    }
    .flight_head h4{
        display: none;
    }
    .flight_link{
        display: flex;
        justify-content: center;
        gap: 80px;
        color: #fff;
        margin: 0 auto;
        font-size: 12px;
        background-color: #55BFEA;
        max-width: 100%;
        width: 100%;
        padding: 10px 10px 10px 50px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .flight_link li{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .flight_link .active{
        border: none;
        border-bottom: 4px solid #fff;
        padding: 5px 20px;
        border-radius: 0px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110px;
        gap: 20px;
        position: absolute;
        left: -70px;
        bottom: -5px;
    }
    .under_text{
        font-size: 12px;
        margin-top: -15px;
        color: #7c7c7c;
        font-weight: 400;
    }
    .heroform_container{
        background-color: transparent;
        max-width: 700px;
        height: 200px;
        border-radius: 18px 18px 0px 0px;
        padding: 20px 0px;
        margin: -80px -485px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        
    }
    .going{
        width: 312px;
        border-radius: 5px 5px 0px 0px;
    }
    .lynkup{
        width: 310px;
        height: 43px;
        padding: 38px 80px 38px 80px;
        border-radius: 5px;
        background-color: #55BFEA;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
    .lynkup h4{
        font-size: 19px;
        font-weight: 700;
        line-height: 26.6px;
        text-align: center;
        color: #fff;
    }
    .date_container{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -10px;
        left: 330px;
    }
    .flying{
        display: fle;
    }
    #Econonmy, #trip{
        font-size: 12px;
        width: 90px;
        margin-bottom: 20px;
    }
    .dropDown{
        width:110px;
        background-color: #0588BD;
        color: #ffff;
        /* padding: 2px; */
        /* font-size: px; */
        margin-bottom: 20px;
        /* px-2 bg-[#0588BD] text-[#fff] h-6 w-36 */
    }
    .dropdownContent{
        position: absolute;
        right: 0px;
    }
}