.hotelflight_container{
    background: #fff url(../../assets/Images/HotelHero.svg) no-repeat;
    background-size: cover;
    padding: 5rem 5rem;
}
.hotelflight_head h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    color: #FFFFFF;
}
.hotelflight_head h4{
    font-size: 28px;
    font-weight: 400;
    line-height: 39.2px;
    text-align: center;
    color: #FFFFFF;
}
.hotel_link{
    display: flex;
    gap: 40px;
    color: #fff;
    margin: 50px 0px 10px 100px;
}
.hotel_link .active{
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #55BFEA80;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under_text{
    font-size: 12px;
    margin-top: -15px;
    color: #7c7c7c;
    font-weight: 400;
}
.hotelform_container{
    background-color: #55BFEA80;
    width: 988px;
    height: 200px;
    border-radius: 18px 18px 0px 0px;
    padding: 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.going{
    width: 312px;
    border-radius: 5px 5px 0px 0px;
}
.Searchlocation{
    width: 133px;
    /* height: 58px; */
    /* padding: 38px 80px 38px 80px; */
    padding: 10px 10px 10px 10px ;
    border-radius: 5px;
    background-color: #55BFEA;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Searchlocation h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 26.6px;
    text-align: center;
    color: #fff;
}
.hotelflighthotel{
    display: none;
}
.hoteldropDown{
    background-color: #fff;
    color: #7c7c7c;
    padding: 2px;
    font-size: 12px;
    width: 173px;
    height: 58px;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.hoteldropDown img{
    width: 20px;
}
.hoteldropdownContent{
    position: absolute;
    right: -40px;
    top: 0px;
 
}

@media screen and (max-width: 760px) {
    .hotelflight_container{
        padding: 13rem 5rem;
    }
    .hotelflighthotel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 80px;
        /* padding: 50px; */
        /* border: 1px solid; */
    }
    .hotelflight_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .hotellist{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px;
    }
    .formDisplay{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -40px;
        left: 330px;

        /* width: 428px; */
    }
    .hotelflight_head h1{
        display: none;
    }
    .hotelflight_head h4{
        display: none;
    }
    .hotel_link{
        display: flex;
        justify-content: center;
        gap: 100px;
        color: #fff;
        margin: 0 auto;
        /* padding: 10px 10px; */
        font-size: 12px;
        background-color: #55BFEA;
        max-width: 100%;
        width: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .hotel_link li{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .hotel_link .active{
        border: none;
        border-bottom: 4px solid #fff;
        padding: 5px 20px;
        border-radius: 0px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110px;
        gap: 20px;
        position: absolute;
        left: -70px;
        bottom: -5px;
    }
    .under_text{
        font-size: 12px;
        margin-top: -15px;
        color: #7c7c7c;
        font-weight: 400;
    }
    .hotelform_container{
        background-color: transparent;
        width: 700px;
        height: 200px;
        border-radius: 18px 18px 0px 0px;
        padding: 20px 50px;
        margin: -90px -485px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    .going{
        width: 312px;
        height: 58px;
        border-radius: 5px 5px 0px 0px;
        
    }
 
    .date_container{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -10px;
        left: 330px;
    }
    .flying{
        display: fle;
    }

    .hoteldropDown{
        background-color: #fff;
        color: #7c7c7c;
        padding: 2px;
        font-size: 15px;
        width: 310px;
        height: 58px;
        border-radius: 5px;
        /* margin-left: 10px; */
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .hoteldropDown img{
        width: 30px;
    }
    .hoteldropdownContent{
        position: absolute;
        right: -40px;
        top: 0px;
     
    }
    .Searchlocation{
        width: 310px;
        padding: 10px 10px 10px 10px ;
        border-radius: 5px;
        background-color: #55BFEA;
        /* margin-left: 10px; */
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Searchlocation h4{
        font-size: 20px;
        font-weight: 500;
        line-height: 26.6px;
        text-align: center;
        color: #fff;
    }
    
}