.hotelSearchItem{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* gap: 15px; */
}

.hoteldate{
     position: absolute;
     top: 80px;
     left: -50px;
     z-index: 2;
     width: 500px;
}
.hotelleavingNow{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;
    width: 138px;
    height: 58px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    
}
.hotelreturningNow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    margin-left: 5px;
    padding: 0px 30px;
    width: 138px;
    height: 58px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    
}
.hotelcalenderImg{
    width: 20px;
    /* margin-top: 5px; */
    /* position: absolute;
    top: 20px;
    left: 10px; */
}
.hoteldatetext{
    font-size: 10px;
    font-weight: 700;
    line-height: 9.38px;
    color: #99A0A8;
}
.hoteldateMonth{
    font-size: 15px;
    font-weight: 400;
    line-height: 15.4px;
    color: #99A0A8;
    /* margin-top: 10px; */
}
.hoteldateDay{
    font-size: 33px;
    font-weight: 400;
    line-height: 46.2px;
    color: #99A0A8;
}
.hoteldateTextDay{
    font-size: 11px;
    font-weight: 400;
    line-height: 15.4px;
    color: #99A0A8;
}
@media screen and (max-width: 760px) {
    .hotelSearchItem{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-top: 10px;
        /* margin: auto; */
        /* gap: 15px; */
    }

    .hoteldate{
         position: absolute;
         top: 80px;
         left: -20px;
         z-index: 2;
         width: 350px;
         height: 350px;
    }
    .hotelleavingNow{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        width: 152px;
        height: 73px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        position: relative;
    }
    .hotelreturningNow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-left: 5px;
        padding: 0px 30px;
        width: 152px;
        height: 73px;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        position: relative;
    }
    .hotelcalenderImg{
        width: 50px;
  
    }
    .hoteldatetext{
        font-size: 10px;
        font-weight: 700;
        line-height: 9.38px;
        color: #99A0A8;
        position: absolute;
        top: 10px;
    }
    .hoteldateMonth{
        font-size: 16px;
        font-weight: 400;
        line-height: 15.4px;
        color: #99A0A8;
        margin-top: 0px;
    }
    .hoteldateDay{
        font-size: 33px;
        font-weight: 400;
        line-height: 46.2px;
        color: #99A0A8;
    }
    .hoteldateTextDay{
        font-size: 11px;
        font-weight: 400;
        line-height: 15.4px;
        color: #99A0A8;
    }
}
