.upload {
	position: absolute;
	top: 0;
	background-color: #fff;
	width: 100%;
	padding: 50px 150px;
}
/* .container_upload{
    width: 100%;
    padding: 50px 150px;
} */
.container_head_upload {
	font-size: 48px;
	font-weight: 700;
	line-height: 67.2px;
	text-align: center;
}
.container_head_upload span {
	color: #55bfea;
}
.container_upload .list_upload {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 100px;
}
.container_upload .list_upload li {
	/* border-bottom: 1px solid #494949; */
	font-size: 20px;
	font-weight: 500;
	line-height: 46.2px;
	text-align: center;
	list-style-type: none;
}
/* .active_upload{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container_upload .list_upload li a {
	padding: 0 70px;
	color: #494949;
	text-decoration: none;
}
.container_upload .list_upload img {
	margin-right: 10px;
}
.container_upload .list_upload li a:hover {
	border-bottom: 3px solid #0588bd;
	padding-bottom: 5px;
}
.container_upload .list_upload li .active_upload {
	border-bottom: 3px solid #0588bd;
	padding-bottom: 5px;
}

.container_upload .caption_upload {
	font-size: 35px;
	font-weight: 700;
	line-height: 56px;
	text-align: left;
	margin-top: 50px;
	color: #494949;
}
.input_caption {
	font-size: 19px;
	font-weight: 500;
	line-height: 22.27px;
	text-align: left;
}
.input_upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 1, 012px;
	height: 327px;
	padding: 13px 27px 13px 27px;
	border-radius: 6px;
	border: 0.5px solid #494949;
}
.image_preview {
	width: 200px;
	height: 150px;
}
.file_accepted {
	color: green;
	font-size: 26px;
}
.error_text {
	color: red;
	font-size: 26px;
}
.rooms {
	margin: 50px 0;
}
.rooms_description {
	margin: 0px 0px 30px 240px;
}
.rooms_description span {
	font-size: 20px;
	font-weight: bold;
	margin-right: 4px;
}
.input_div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0px 100px;
	margin-left: 100px;
	grid-gap: 30px;
	/* border: 1px solid black; */
}
.facilities {
	margin: 120px 0px;
}
.facilities_des {
	margin: 20px 0px;
	font-size: 24px;
}
.check_box {
	margin: 10px 0px;
	display: flex;
	gap: 10px;
	align-items: center;
}
.others {
	border: none;
	border-bottom: 1px dashed #494949;
	width: 316px;
}
.form_btn {
	width: 100%;
	padding: 13px 10px 13px 25px;
	border-radius: 6px;
	border: none;
	margin: 10px 0;
	background-color: #55bfea;
	color: #fff;
	font-size: 23px;
	font-weight: 700;
	line-height: 32.2px;
	cursor: pointer;
}
.form_btn:hover {
	background-color: #039dda;
}
@media screen and (max-width: 760px) {
	.upload {
		z-index: 10;
		position: absolute;
		top: 70px;
		background-color: #fff;
		width: 100%;
		padding: 10px 10px;
	}

	.mobile_upload {
		display: block;
		background-color: #55bfea;
		padding: 15px 15px;
		color: #fff;
		font-size: 18px;
		line-height: 22.4px;
		text-align: left;
		width: 100%;
	}
	.mobile_upload img {
		width: 31px;
		height: 31px;
	}
	.mobile_upload h4 {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.container_upload {
		width: 100%;
		padding: 0px 0px;
		position: relative;
		top: 20px;
	}
	.container_head_upload {
		font-size: 28px;
	}
	.container_upload .list_upload {
		display: flex;
		/* justify-content: space-around; */
		align-items: center;
		/* border-bottom: 1px solid #494949;  */
		gap: 10px;
	}
	.container_upload .list_upload li {
		font-size: 15px;
	}
	.container_upload .list_upload li a {
		padding: 0 10px;
	}
	.container_upload .list_upload img {
		margin-right: 10px;
		width: 15px;
	}
	.container_upload .list_upload li a:hover {
		border-bottom: 3px solid #0588bd;
		padding-bottom: 5px;
	}
	.container_upload .list_upload li .active_upload {
		border-bottom: 3px solid #0588bd;
		padding-bottom: 0px;
	}
	.input_upload {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 100%;
		height: 250px;
		padding: 13px 27px 13px 27px;
		border-radius: 6px;
		border: 0.5px solid #494949;
		margin: 0 auto;
	}
	.image_preview {
		width: 100px;
		height: 70px;
	}
	.file_accepted {
		color: green;
		font-size: 16px;
	}
	.error_text {
		color: red;
		font-size: 16px;
	}
	.input_caption {
		font-size: 19px;
		font-weight: 500;
		line-height: 22.27px;
		text-align: left;
		margin: 10px 0px;
	}
	.container_upload .caption_upload {
		font-size: 35px;
		font-weight: 700;
		line-height: 56px;
		text-align: left;
		margin: 30px 0px;
		color: #494949;
	}

	.rooms {
		margin: 50px 0;
	}
	.rooms_description {
		margin: 0px 0px 40px 0px;
		font-size: 14px;
		text-align: center;
	}
	.rooms_description span {
		font-size: 16px;
		font-weight: bold;
		margin-right: 4px;
	}
	.input_div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0px 0px;
		margin-left: 0px;
		grid-gap: 10px;
		/* border: 1px solid black; */
	}
	.facilities {
		margin: 60px 0px;
	}
	.facilities_des {
		margin: 30px 0px;
		font-size: 24px;
	}
	.check_box {
		margin: 15px 0px;
		display: flex;
		gap: 10px;
		align-items: center;
	}
	.others {
		border: none;
		border-bottom: 1px dashed #494949;
		width: 316px;
	}
	.others::placeholder {
		padding-bottom: 10px;
	}
	.form_btn {
		width: 100%;
		padding: 13px 10px 13px 25px;
		border-radius: 6px;
		border: none;
		margin: 10px 0;
		background-color: #55bfea;
		color: #fff;
		font-size: 23px;
		font-weight: 700;
		line-height: 32.2px;
		cursor: pointer;
	}
	.form_btn:hover {
		background-color: #039dda;
	}
}
/* @media screen and (max-width: 960px) {
    .input_div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 0px;
        margin-left: 0px;
        grid-gap: 10px;

    }
} */
