.password_content{
    max-width: 400px;
    background-color: #fff;
    padding: 0.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 0;
    right:40px;
    z-index: 21;
    /* border: 1px solid ; */
}

.password_content h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 32.2px;
    text-align: left;
    margin-bottom: 30px;
    /* padding: 0rem 2.5rem; */
}
.password_content .headline{
    /* padding: 0rem 2.5rem; */
    font-size: 12px;
    margin-bottom: 40px;
}
.password_content label{
    /* padding: 0rem 2.5rem; */
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
}
.password_content input{
    /* margin: 0rem 2.5rem; */
    margin-top: 10px;
    width: 300px;
    height: 41px;
    padding: 13px 10px 13px 10px;
    border-radius: 6px;
    border: 0.5px solid #494949;
}

.password_content button{
    /* margin: 0rem 2.5rem; */
    margin-top: 30px;
    width: 300px;
    height: 42px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: #55BFEA;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.password_content button:hover{
    background-color: #039dda;
}
.passwordtext{
    font-size: 15px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: center;
    margin-top: 25px;
}
/* form{
    position: relative;
} */
.showPassword{
    cursor: pointer;
    position: absolute;
    right: 65px;

}
.showConfirmPassword{
    cursor: pointer;
    position: absolute;
    right: 65px;
}
.password_errors{
    color: #ec0606;
    font-size: 12px;
    margin-right: -50px;
}
.passcon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.password_mobile{
    display: none;
}
@media screen and (max-width: 760px) {
    .password_content{
        max-width: 400px;
        background-color: #fff;
        padding: 0.5rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 0;
        right:5px;
        z-index: 21;
        /* border: 1px solid ; */
    }
    .showPassword{
        cursor: pointer;
        
    
    }
    .showConfirmPassword{
        cursor: pointer;
    }
    .errors{
        color: #ec0606;
        font-size: 12px;
        margin-left: 50px;
    }
    .password_mobile{
        background-color: #55BFEA;
        color: #fff;
        /* display: flex;
        justify-content: start;
        align-items: center; */
        display: block;
        width: 100%;
        padding: 10px 15px;
        gap: 15px;
        margin-bottom: 50px;
    }
 
     .password_mobile img{
        width: 31px;
        height: 31px;
    }
     .password_mobile p{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
    }
}
