
.reset_container {
    max-width: 400px;
    height: 630px;
    background-color: #fff;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 20;
  }
  .reset_content {
    padding: 0rem 2.5rem;
    padding-top: 70px;
  }
  .reset_content h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 32.2px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .resetBtn button {
    margin: 10px auto;
    width: 300px;
    height: 42px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #55bfea;
    font-size: 15px;
    font-weight: 500;
    color: #55bfea;
    cursor: pointer;
  }

   


  .reset_mobile {
    display: none;
  }
  
  @media screen and (max-width: 760px) {
    .reset_container .overlay {
      display: none;
    }

    .reset_mobile {
      display: block;
      background-color: #55bfea;
      padding: 0px 5px;
      color: #fff;
      font-size: 14px;
      line-height: 22.4px;
      text-align: left;
      width: 100%;
      margin-bottom: 50px;
      margin-left: 0px;
    }
    .reset_content {
      padding: 0rem 2.5rem;
      padding-top: 0px;
    }
  
    .reset_mobile p {
      display: flex;
      align-items: center;
      gap: 20px;
    }

  }
  