.singin_container .overlay{
    width: 70vw;
    height: 70vh;
    top: 0;
    left: 0;
    position: fixed;
} 
.singin_container{
    max-width: 400px;
    background-color: #fff;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 20;
    /* border: 1px solid ; */

}
.signin_content {
    padding: 0rem 3.5rem;
}
.signin_content h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 32.2px;
    text-align: center;
    margin-bottom: 40px;
}
.signin_form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.signin_content label{
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
}
.signin_content input{
    margin-top: 10px;
    width: 300px;
    height: 41px;
    padding: 13px 10px 13px 10px;
    border-radius: 6px;
    border: 0.5px solid #494949;

}
.signinBtn button{
    margin: 10px auto;
    width: 300px;
    height: 42px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: #55BFEA;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.signinBtn button:hover{
    background-color: #039dda;
}
.altsignin{
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: #23222259;
    font-size: 15px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.socialIcons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
    margin-right: 50px;
}
.icon{
    text-align: center;
}
.icon p{
    font-size: 13px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: center;
    color: #23222259;
}
.text{
    margin-right: 50px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: center;
    margin-top: 25px;
}
.errors{
    color: #ec0606;
    font-size: 12px;
    text-align: center;
}
.sign_mobile{
    display: none;
  }



  @media screen and (max-width: 760px) {
    .singin_container .overlay{
        display: none;
    } 
    .sign_mobile{
        display: block;
        background-color: #55BFEA;
        padding: 0px 35px;
        color: #fff;
        font-size: 14px;
        line-height: 22.4px;
        text-align: left;
        width: 100%;
        margin-bottom: 50px;

    }

    .sign_mobile img{
        width: 31px;
        height: 31px;
    }
    .sign_mobile p{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .text{
        margin-right: 0px;
        font-size: 11px;
        font-weight: 400;
        line-height: 15.4px;
        text-align: center;
        margin-top: 0px;
        padding: 20px;
    }
}