
.singin_container {
  max-width: 400px;
  height: 630px;
  background-color: #fff;
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
  /* border: 1px solid ; */
}
.signin_content {
  padding: 0rem 3.5rem;
  padding-top: 50px;
}
.signin_content h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 32.2px;
  text-align: left;
  margin-bottom: 40px;
}
.signin_form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}
.signin_content label {
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
}
.signin_content input {
  margin-top: 10px;
  width: 300px;
  height: 41px;
  padding: 13px 10px 13px 10px;
  border-radius: 6px;
  border: 0.5px solid #494949;
}
.signinBtn button {
  margin: 20px auto;
  width: 300px;
  height: 42px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: #55bfea;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.signinBtn button:hover {
  background-color: #039dda;
}
.altsignin {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: #23222259;
  margin-top: 5px;
  margin-bottom: 25px;
}
.socialIcons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
}
.icon {
  text-align: center;
}
.icon p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.4px;
  text-align: center;
  color: #23222259;
}
.text {
  font-size: 11px;
  font-weight: 400;
  line-height: 15.4px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.errors {
  color: #ec0606;
  font-size: 12px;
  text-align: center;
}
.sign_mobil {
  display:none;
}

@media screen and (max-width: 760px) {
  .singin_container .overlay {
    display: none;
  }

  .sign_mobil {
    max-width: 400px;
    background-color: #fff;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 80px;
    z-index: 20;
  }

  .sign_mobile img {
    width: 31px;
    height: 31px;
  }
  .sign_mobile p {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .text {
    margin-right: 0px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: center;
    margin-top: 0px;
    padding: 20px;
  }
}
